<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
  </head>
  <body>
    <div><h1>Weather</h1></div>
    <img
      src="{% static 'image/weather.png' %}"
      class=""
      style="width: 100px; margin-bottom: -50px"
    />
    <div>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Choose your city" />
        <button type="submit">Search</button>
      </form>
    </div>
    <br />
    <div>
      {% if countryCode and coordinate and temp and pressure and humidity %}
      <div>
        <h3><span>Country Code :</span>{{countryCode}}</h3>
        <h3><span>Coordinates [X, Y] :</span>{{coordinate}}</h3>
        <h3><span>Temperature in Celsius :</span>{{temp}}</h3>
        <h3><span>Pressure :</span>{{pressure}}</h3>
        <h3><span>Humididty :</span>{{humidity}}</h3>
        <h3>
          <span>Forecast :</span>{{main}}
          <img src="https://openweathermap.org/img/w/{{icon}}.png" />
        </h3>
        <h3><span>Description :</span>{{description}}</h3>
      </div>
      {% else %}
      <div>Fill proper city</div>
      {% endif %}
    </div>
  </body>
</html>
